.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #666666;
    height: 2rem;
    width: 2rem;
}

.circle:hover {
    background-color: #888888;
  }